.box {
    border: black 3px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color:lightblue;
}

h3 {
    font-size: 18px;
}

.table-header {
    font-weight: bold;
}


th {
    font-weight: normal;  
}