.btn-lg{
    padding:0px 5px;
    background-color:lightcoral;
}
.btn-sm{
    padding: 2px 10px;
    background-color: lightskyblue;
    margin-left:5px;
}
.returnBtn{
    margin-left:20px;
}
.infoContainer,.socContainer{
    margin-top: 25px;
}
.editBtn{
    margin-top:25px;
    background-color: burlywood;
}
.notes{
    padding:0px 10px;
}

.signoutBtn{
    color:black;
}